{% extends 'partials/base.html' %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area">
    <!-- Breadcumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home-login' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_suivres' %}">Cours suivi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Supprimer le cours</li>
        </ol>
    </nav>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="POST">
                {% csrf_token %}
                <h4>Voulez-vous supprimer cet cours ? ({{object}})</h4>
                <input type="submit" value="Supprimer" class="btn btn-danger">
                <a href="{% url 'list_suivres' %}" class="btn btn-secondary">Non</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

