{% extends 'base.html' %}

{% block title %} Connexion {% endblock %}

{% block content %}
    <style>
        .form-header {
            background-image: url("static/img/bg-01.jpg");
            background-size: cover;
            background-position: center;
            padding: 50px;
            border-radius: 10px 10px 0 0;
        }

        .form-header h1 {
            color: white;
        }

        .form-body {
            background-color: #fff;
            padding: 20px;
            border-radius: 0 0 10px 10px;
        }

        .contact-form label {
            color: #333;
        }

        .contact-form input,
        .contact-form button {
            margin-bottom: 15px;
        }

        .contact-form button {
            background-color: #007bff;
            border: none;
        }

        .contact-form button:hover {
            background-color: #0062cc;
        }


    </style>

    <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg" style="height: 1px">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">
                            Connexion</a></li>
                        <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                    </ul>
{#                    <p class="text-lighten">Une maintenance préventive proactive pour assurer la stabilité et la#}
{#                        performance optimale de vos systèmes et logiciels.</p>#}
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->


    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="contact-form mt-5">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success text-center"><strong>{{ message }}</strong></div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger text-center"><strong>{{ message }}</strong></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-header">
                            <div class=" text-center"><h1><i class="fa fa-user"> Connexion</i></h1></div>
                        </div>
                        <div class="form-body">
                            <div class="card-boby">
                                <label for="id_username">Nom utilisateur</label>
                                {% if form.username.errors %}
                                    {% for error in form.username.errors %}
                                        <div class="div-error-{{ form.username.name }}"><small
                                                class="text-danger">{{ error }}</small></div>
                                    {% endfor %}
                                {% endif %}
                                {{ form.username }}
                                <label for="id_pwd">Mot de passe</label>
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <div class="div-error-{{ form.password.name }}"><small
                                                class="text-danger">{{ error }}</small></div>
                                    {% endfor %}
                                {% endif %}
                                {{ form.password }}
                            </div>
                            <div class="">
                                <button class="btn btn-primary btn-block">Se connecter</button>
                                <p class="mt-2">Vous n'avez pas de compte ? <a href="{% url 'register' %}">Créer le
                                    compte</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('input').keyup(function () {
                let textSaisi = $(this).val();

                let attrName = $(this).attr('name');
                let validatorElement = ".div-error-" + attrName;
                if (textSaisi === "") {
                    if (!$(this).hasClass('is-invalid')) {
                        $(this).hasClass('is-invalid');

                        $(validatorElement).show();
                    }
                } else {
                    $(this).removeClass('is-invalid');

                    $(validatorElement).hide();
                }
            })
        })
    </script>
{% endblock %}