{% extends 'partials/base.html' %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area">
    <!-- Breadcumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_tutoriel' %}">Tutoriels</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier tutoriel</li>
        </ol>
    </nav>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="container">
    <div class="col-12 col-lg-12">
        <div class="contact-form mt-5">
            <h4 class="text-center">Modifier tutoriel</h4>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                        {{ form }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-success btn-block mt-4">Modifier le tutoriel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}